<div class="row">
	<div class="col-md-9">
		
<h1 align="center">Companias</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <% @companies.each do |company|%>
  <tbody>
    <tr>
      <th scope="row"><%=company.id %></th>
      <td><%=link_to company.name, user_company_path(@user, company)  %></td>
      <td><%= company.description %></td>
      <td>@mdo</td>
    </tr>
  </tbody>
  <% end  %>
</table>

	</div>
<% if user_signed_in? %>
        <div class="col-md-3">
          <div class="well sidebar-nav">
          <div align="center">
            <div  class="round-image-50 "><%= image_tag(current_user.avatar.url(:thumb)) %></div>

            </div>
            <p class="text-center"><%= current_user.name %></p>
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <li><%= link_to "Informacion de Usuario", edit_user_registration_path  %></li>
              <li><%= link_to "Agregar nueva compania", new_user_company_path(@company)  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <% end %>


</div>
